<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block head %}
<title>Usuário - Repositório</title>
{% endblock %} {% block conteudo %}
<div class="row">
  <div class="col-12">
    <div>
      <h2>
        {{ user.first_name }} {{ user.last_name }}
        <a href="{% url 'editar_usuario' %}" class="btn btn-warning float-end">
          <i class="bi bi-pencil-square"></i>
          Editar
        </a>
      </h2>
      <hr />
    </div>
  </div>
  {% if messages %} {% for message in messages %}
  <div class="text-center alert alert-{{ message.tags }}">
    {{ message|safe }}
  </div>
  {% endfor %} {% endif %}
  <div class="table-responsive">
    <p class="h5">ID user: {{user.id}}</p>
    <p class="h5">Username: {{user.username}}</p>
    <p class="h5">email: {{user.email}}</p>
    <p class="h5">Nome: {{ user.first_name }}</p>
    <p class="h5">Sobrenome: {{ user.last_name }}</p>


  </div>
</div>
{% endblock %}

