{% extends 'base.html' %} {% load static %} {% block head %}
<title>Meus Tccs - Repositório</title>
{% endblock %} {% block conteudo %} {% include 'partils/_alertas.html' %}
<div>
  <div>
    <h2>
      Tccs de {{ user.first_name }}
      <a href="{% url 'criar_tcc' %}" class="btn btn-primary float-end">
        <i class="bi bi-plus-lg"></i>
        Adicionar Tcc
      </a>
    </h2>
    <hr />
  </div>
</div>
<div class="row">
  {% for tcc in object_list %}
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <a href="{% url 'detalhar_tcc' tcc.id %}">
        {% if tcc.capa == '' %}
        <img src="{% static 'img/tcc.png' %}" class="card-img-top" alt="..." />
        {% else %}
        <img src="{{ tcc.capa.url }}" class="card-img-top" alt="..." />
        {% endif %}
      </a>
      <div class="card-body">
        <a
          href="{% url 'detalhar_tcc' tcc.id %}"
          class="text-decoration-none text-reset"
        >
          <h5 class="card-title">{{ tcc.titulo }}</h5>
        </a>
        <p>Autor(es):</p>
        {% for autor in tcc.autor.all %}
        <p class="card-text">{{ autor.nome }}</p>
        {% endfor %}
        <a href="{% url 'editar_tcc' tcc.id %}" class="btn btn-primary">
          Editar
        </a>
        <a href="{% url 'deletar_tcc' tcc.id %}" class="btn btn-danger">
          Deletar
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
